<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p><strong> Apartments: </strong>
  <p>#llamar tabla de apartments x building</p>
  
<table class="table table-hover">
      <tr>
        <th> ID </th>
        <th> Number </th>
      </tr>
      <% @apartments.each do |a| %>
        <tr>
          <td> <%= a.id %> </td>
          <td> <%= a.number %>
          </td>
        </tr>
      <% end %>
    </table>

</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
